/* Não vistos no desktop */

#box_1, #box_21, .porra, #intermedio, #login, #pa, #oi, .envio, #teste, .hr_cad{display:none}

/* Header desktop */ 

#PT3{display:none}
#alterar2{display:flex}
#alterar2 button{width:40px;background-color:transparent;border:none}
#alterar2 button a img{width:100%;height:100%}
#pum{padding:1.3%;text-align:center}
#pum img{width:73%;height:67%;margin-left:5%}

/* Hr geral */

#xau{height:12px;background-color:#000;border:none} 

/* Index - OK */

#container{display:flex;background-image:url(../images/Fundo_Home1199_A.jpg);background-repeat:no-repeat;width:100%}
section{width:60%;margin:3%}
section, #login2{border:2px solid white}
/* section{width:60%;margin:3%;overflow-y:scroll;height:420px} */
#area_1 a{color:#FFF}
#area_1 h1, #area_1 p, #area_2 h1, #area_2 h2, #area_2 h2 a,#area_2 h3, #area_2 h3 a, form h1{color:#FFF}
#area_1 h1, #area_2 h1, #area_2 h2:nth-child(2), #login2 h1{text-shadow:2px 2px black}
#area_1 h1, #area_2 h1, #area_2 h2, #area_2 h2 a,#area_2 h3, #area_2 h3 a, form h1{text-align:center} 
#area_1 h1{font-size:3rem}
#area_1 p{text-align:justify;font-size:1.3rem;margin:15px 0}
#area_2 h1{font-size:2.5rem;margin-top:15px}
#area_2 h2:nth-child(2){margin-bottom:15px}
#area_2 h2{margin-bottom:5px}
#login2, section{padding:3%;background-color:rgba(100, 100, 100, 0.6);border-radius:10px}
section{margin-bottom:7%}
#login2{width:30%;height:230px;align-self:center} 
#login2 input:nth-child(2){margin-top:15px}
#login2 input:nth-child(3){margin:10px 0}
#login2 input{width:100%;border-radius:10px;text-align:center;border:solid 2px white;padding-top:1%}
#login2 a{margin-bottom:20px;display:block;color:#fff;font-size:0.9rem;text-align:center}
#botao{font-size:1.2rem}

/* Footer geral */

footer{height:55px;background-color:#000;display:flex;justify-content:space-between;align-items:center;position:fixed;width:100%;bottom:0}
footer img{margin-left:2%;width:90px;height:39px}
footer a{text-decoration:none}
footer ul{display:flex;justify-content:flex-end;width:60%;margin-left:2%}
footer ul li a{display:flex}
.span1, .span2{color:#FFF}
.span1{padding:12% 10px 0 0}
.span2{padding-top:8%}    
footer ul li a img{width:38px;height:38px;padding:3px;border-radius:50%;border:2px solid #024038;background-color:#FFF;margin-right:2%;
	margin-left:-10%}

/* Header Home Restrita - OK */

#header_HR{display:block;height:115px}
#header_HR #LY a img{width:59%;height:54%;margin-left:23%;margin-top:2%}
.nav-toggle {display:block;padding:4px;background:transparent;position:absolute;top:79px;left:20px;z-index:50}
.hamburger{width:50px;position:relative;display:inline-block;height:78px;font-size:1.5rem;background:transparent}
.hamburger span{width:100%;background:#000;display:block;position:absolute;left:0px;height:0.3rem;border-radius:1.2px;transition:1s all;-webkit-transition:1s all;
	-ms-transition:1s all;-moz-transition:1s all;-o-transition:1s all}
.hamburger span:nth-child(1){top:0px}
.hamburger span:nth-child(2){top:0.39em}
.hamburger span:nth-child(3){top:0.79em}
.sidebar{width:90%;height:440px;position:fixed;background-image:url(../images/Menu_2.jpg);top:0px;left:0px;z-index:5;visibility:hidden;opacity:0;
	border:2px solid black}
.sidebar ul li:nth-child(1){margin-top:30px}
.sidebar ul li{text-align:center;padding:3%}            
.sidebar ul li a{color:#000;margin-right:auto;font-size:1.8rem;text-decoration:none}
#navicon{display:none}
#navicon:checked ~ .sidebar{visibility:visible;opacity:1;transition:0.5s all;-webkit-transition: 0.5s all;-ms-transition:0.5s all;-moz-transition:0.5s all;-o-transition:0.5s all;height:562px;width:55%;position:absolute}
#navicon:checked ~ .nav-toggle > .hamburger span{top:0.36em}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(1){transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);-o-transform:rotate(45deg)}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(2){transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg);-o-transform:rotate(45deg)}
#navicon:checked ~ .nav-toggle > .hamburger span:nth-child(3){transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg)}
#ver{margin:3%;background-color:rgba(255, 255, 255, 0.4)}


/* Header no perfil aluno, escola e turma - OK */

.sidebar2{width:57%;height:498px;position:absolute;background-image:url(../images/Menu_2.jpg);background-repeat: no-repeat;top:0px;left:0px;z-index:5;visibility:hidden;opacity:0;
	transition:0.5s all;-webkit-transition: 0.5s all;-ms-transition:0.5s all;-moz-transition:0.5s all;-o-transition:0.5s all;
border:2px solid black} 
.sidebar2 ul li{padding:3%;text-align:center}
.sidebar2 ul li a{color:#000;margin-right:auto;font-size:1.8rem}
#navicon2{display:none}
#navicon:checked ~ .sidebar2{visibility:visible;opacity:1}

/* Igual nos Cadastros */

#aux_3{display:flex;justify-content:center;text-align:center;flex-direction:column}
.envio3{font-size:1.3rem}

/* Cadastro Escola - OK */

#container_CE{background-image:url(../images/Escola4_1199.jpg);background-repeat:no-repeat;padding:5%}
#CE{background-color:rgba(100,100,100,0.6);border-radius:10px;border:2px solid white;padding:3% 0;text-align:center}
#CE h1{color:#FFF;font-size:2.6rem;text-align:center;padding:4%}
#CE h1, #term_2 h2{text-shadow:2px 2px black}
#CE input{border-radius:10px;margin:3% 15%;border:solid 4px white;padding:1% 5%;width:55%;text-align:center;font-size:1rem}
#term_2{width:85%;margin:30px auto;padding:5%;height:350px;overflow-y:scroll;background-color:rgba(100,100,100,0.6);border-radius:10px;
	border:2px solid white;text-align:center}
#CE button{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #dcdcdc;padding:1% 2%;
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );background-color:#ededed;
	color:#777777;display:inline-block;text-shadow:1px 1px 0px #ffffff;-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;box-shadow:inset 1px 1px 0px 0px #ffffff}
#term_2 h2{color:#FFF;padding:2% 0;text-align:center;font-size:2rem}
#term_2 p{color:#FFF;text-align:justify}
.mouse{color:#FFF;margin-bottom:25px;font-size:1.2rem}
#aux_3 span{font-size:1rem;margin:2% 1%}
#aux_3 input{margin:8px 0 0 10px;width:15%;height:20px}
#CE a, #aux_3 span{color:#000;font-size:1rem}
#CE form{margin-bottom:3%} 

 /* Cadastro Sala - OK */

#container_CS{background-image:url(../images/Sala-de-aula_1199_2.jpg);background-repeat:no-repeat;padding:5%;margin:0 auto}
#CP h1{color:#FFF;font-size:1.7rem;text-align:center;padding:4%;text-shadow:2px 2px black}
.envio4{color:#FFF}
#aux_3 input{margin:8px 0 0 10px;width:15%}

/* Cadastro Pessoa - OK */

#container_P{background-image:url(../images/Sala-de-aula_1199.jpg);background-repeat:no-repeat;padding:3%;margin:0 auto}
#bg_1, #bg_2{padding:3%}
#CP{background-color:rgba(100,100,100,0.6);border-radius:10px;border:2px solid white;padding:3% 0}
#CP h1{color:#FFF;font-size:2.6rem;text-shadow:2px 2px black}
#CP input{border-radius:10px;margin:3%;border:solid 4px white;padding:1% 5%;width:55%}
#CP input, #CP{text-align:center;font-size:1rem}
#CP button{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #dcdcdc;padding:1% 2%;
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );background-color:#ededed;
	color:#777777;display:inline-block;text-shadow:1px 1px 0px #ffffff;-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;box-shadow:inset 1px 1px 0px 0px #ffffff}
#CP_Av{margin:3% 0}
#CP_Av h1{text-align:center;font-size:2rem}
#trat{display:flex;flex-wrap:wrap}
#trat img{height:45%; width:25%;padding:3%;margin:0 auto}
#CP a{color:#000;font-size:1rem}
#aux_3 input{margin:8px 0 0 10px;width:15%}

/* Hr's*/

.hr_cad, .hr_contato{height:15px}
.hr_cad{background-color:#000}
.hr_contato{background-color:#0E786A}

/* Explicação dos planos - OK */ 

#bg_explica{background-image:url(../images/Contato_1199.jpg);padding:3%;background-repeat:no-repeat}
#insti{margin-top:25px}
#insti, #sala, #aluno{background-color:rgba(100,100,100,0.9);border-radius:10px;border:2px solid white;padding:5%;margin:50px auto;width:60%}
#insti h1, #sala h1, #aluno h1{text-align:center;color:#FFF;text-shadow:2px 2px black}
#insti p b, #sala p b, #aluno p b, #insti p, #sala p, #aluno p{color:#FFF}
#insti h1 i, #sala h1 i, #aluno h1 i{color:#FFF;text-transform:uppercase}
#insti p, #sala p, #aluno p{text-align:justify;margin-top:30px}

/* Cálculo Escola - OK  */

#calculo_classe{background-image:url(../images/Contato8.jpg);background-repeat:no-repeat;padding:5% 0;height:632px;margin-bottom:4%}
#calc{background-color:rgba(100,100,100,0.6);border-radius:10px;border:2px solid white;width:80%;margin:0 auto;padding:3%;text-align:center;margin-bottom:2%}
#calc h1{text-align:center;text-shadow:2px 2px black;font-size:2.3rem}
#calc h1, #calc h2{color:#FFF;margin-bottom:25px}
#calc h2{font-size:1.5rem}
#calc form ul li{font-weight:bold;font-size:1.2rem}
#calc form ul li input{margin-bottom:15px}
#calc form ul li span{margin-left:10px}
.span22{margin-right:-10px}
.span23{margin-right:10px}
#calc button{margin-bottom:20px;width:100px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #dcdcdc;padding:1% 2%;
	background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100% );background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );background-color:#ededed;
	color:#000;display:inline-block;text-shadow:1px 1px 0px #ffffff;-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;box-shadow:inset 1px 1px 0px 0px #ffffff}
.texto{font-size:1.3rem}
#calc input{border:1px solid white;border-radius:10px;padding:1% 9%;text-align:center;margin-bottom:30px}
#calc a{color:#FFF;font-size:1.5rem}

/* Cálculo Sala - OK */

#calc2{background-color:rgba(14, 120, 106, 0.5);width:60%;margin:0 auto;padding:5%;text-align:center;margin-top:5%}
#calc2 h1{text-align:center;text-shadow:2px 2px black}
#calc2 h1{color:#FFF;margin-bottom:20px;font-size: 2rem}
#calc2 form ul li{font-weight:bold}
#calc2 form ul li input{margin-bottom:15px}
#calc2 form ul li:nth-child(2){margin-right:10px}
#calc2 input{border:1px solid white;border-radius:10px;padding:0.5% 5%;text-align:center}
#calc2 button{margin-bottom:20px;width:100px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #dcdcdc;padding:1% 2%;
	background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100% );background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );background-color:#ededed;
	color:#000;display:inline-block;text-shadow:1px 1px 0px #ffffff;-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;box-shadow:inset 1px 1px 0px 0px #ffffff}
.texto{font-size:1.2rem}
#calc2 a{color:#FFF;font-size:1.3rem}
.hr_desk{background-color:#0E786A;height:18px} 


/* PayPal - OK */

#bg_paypal{background-image:url(../images/Contato8.jpg);background-repeat:no-repeat;padding:5% 0}
#pp{background-color:rgba(100,100,100,0.6);border-radius:10px;border:2px solid white;width:80%;margin:0 auto;text-align:center;padding:3%;margin-bottom:2%}
#pp img{width:75%;height:40%}
#pp input{width:89%;height:25px;text-align:center;font-size:1rem;border-radius:10px;padding:2%;margin-top:5%}
#pp p{margin-top:5%}
#pp button a{color:black;display:block;font-size:1rem;width:100%;margin-top:3%;text-transform:none}
#pp a{color:#FFF;text-transform:uppercase}
#pp button{margin-top:15px;width:100px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #dcdcdc;padding:1% 2%;
	background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100% );background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );background-color:#ededed;
	display:inline-block;text-shadow:1px 1px 0px #ffffff;-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;box-shadow:inset 1px 1px 0px 0px #ffffff}
#pp p{font-size:0.9rem;text-align:center;color:#FFF}

/* Header Home Restrita */

#header_t{display:flex;justify-content:space-between;padding:3%}
#header_t a img{width:400px;height:100px}
#header_t img{width:70px;height:70px;align-self:center}

/* Home Restrita "images/MPerfil_PeB.jpg" "images/Turrma_PeB.jpg" "images/Escola_PeB.jpg" */

 /* ME AJUDA AQUI */
 
/*div#perfil_tudo{display:flex;width:300px}*/
.hr_HR{background-color:#0E786A;height:15px;width:100%;margin-top:5%}
#perfil_aluno{background-image: url(../images/MPerfil_PeB.jpg);height:665px;width:400px;margin-top:-1px;background-repeat: no-repeat} 
#perfil_turma{background-image: url(../images/Turrma_PeB.jpg);height:675px;width:400px;margin-left:398px;margin-top:-665px;background-repeat: no-repeat}
#perfil_escola{background-image: url(../images/Escola_PeB.jpg);height:675px;width:400px;margin-left:798px;margin-top:-674px;background-repeat: no-repeat;margin-bottom:0}
#perfil_aluno:hover{background-image: url(../images/MPerfil_Colo.jpg)}
#fundo_HR{display: none}


/*#fundo_HR{background-image:url(../images/bg_home_restrito.jpg);background-repeat:no-repeat;padding:5% 0} /* Arrumar o BG */
/*#fundo_HR div{margin-bottom:15%}
#fundo_HR div:nth-child(3){margin-bottom:10%}
#fundo_HR div a u, #fundo_HR div a u b{color:#FFF}
#perf{width:100%;background-color:rgba(23, 125, 115, 0.5);padding:3%}
#perf a{font-size:1.3rem}
#perf_escola, #perf{text-align:left}
#perf_turma{text-align:right}
#perf_turma, #perf_escola{padding:3%;background-color:rgba(154, 45, 145, 0.5)}
#perf_turma a, #perf_escola a{font-size:1.5rem}
#perf_turma{padding-left:55%}*/


/* Contato - OK */

#bg_contato{background-image:url(../images/Contato3_1199.jpg);background-repeat:no-repeat;padding:5% 0;}
#C_beards{background-color:rgba(148, 37, 137, 0.6);text-align:center;margin:3% 0}
#C_beards img{width:50%;height:50%}
#contato{background-color:rgba(148, 37, 137, 0.6);width:80%;margin:1% auto;padding:2%;text-align:center}
#contato h1{color:#FFF;font-size:1.3rem;padding-bottom:3%;text-align:left}
.estrelas h1{color:#FFF}
.estrelas{text-align:left}
.estrelas input[type=radio]{display:none}
.estrelas label i.fa:before{content:'\f005';color:#FC0}
.estrelas input[type=radio]:checked ~ label i.fa:before{color:#CCC}
#AVA{display:flex;height:100px;justify-content:space-around;margin-bottom:20px}
#AVA button{margin-bottom:20px;width:100px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #dcdcdc;padding:1% 2%;
	background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100% );background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );background-color:#ededed;
	color:#000;display:inline-block;text-shadow:1px 1px 0px #ffffff;-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;box-shadow:inset 1px 1px 0px 0px #ffffff}
.diferente{color:#FFF;font-size:1.3rem}
#AVA img{height:50px;width:50px;align-self:center}
#comentario{margin-top:2%;display:none}
#comentario button{margin-bottom:20px;width:100px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;border:1px solid #dcdcdc;padding:1% 2%;
	background:-moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100% );background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );background-color:#ededed;
	color:#000;display:inline-block;text-shadow:1px 1px 0px #ffffff;-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;box-shadow:inset 1px 1px 0px 0px #ffffff}
#comentario .input{width:68%;height:70px;margin-bottom:10px;font-size:1rem}

/* Perfil Aluno Público - OK */

#bg_alu{display:flex;background-image:url(../images/Perfil_Aluno3_1199.jpg);background-repeat:no-repeat;padding:3%;height:568px}
#nome, #turma{background-color:rgba(14, 120, 106, 0.4);padding:3%;width:40%;height:504px}
#nome{margin-right:16%;text-align:center;height:504px}
#nome a{display:block;border-bottom:5px solid #FFF;border-right:5px solid #FFF;width:20px;height:20px;transform:rotate(45deg);margin:10px 80%}
#nome ul{text-align:left}
#nome ul li{color:#FFF;padding-bottom:2%;font-size:1.7em}
#turma ul li {color:#FFF;padding-bottom:2%;font-size:1.6em;margin-left:45%}   
#turma h1, #status h1{color:#FFF;padding-bottom:2%;margin-left:45%;font-size:3em}
#turma ul li a{color:#FFF}
#nome h1{color:#FFF;padding-bottom:2%;margin-left:5%;font-size:3em}
#nome img{border-radius:50%;width:220px;height:220px;margin-bottom:-10px}
#fotos{display:flex;text-align:center;justify-content:center;padding:3%;background-color:#DDD;height:400px}
#fotos img{width:350px;height:350px;border:3px solid #0E786A;padding:2%;margin-top:-1%}
#fotos a{display:block;width:30px;height:30px;align-self:center;margin:0 3%;border-top:3px solid #0E786A}
#fotos a:nth-child(1){margin-left:7%;border-left:3px solid #0E786A;transform:rotate(-47deg)}
#fotos a:nth-child(3){border-right:3px solid #0E786A;transform:rotate(47deg)}
#bg_status{background-image:url(../images/Perfil_Aluno6_1199.jpg);background-repeat:no-repeat;padding:3%}
#status{background-color:rgba(14, 120, 106, 0.5);padding:5%;width:90%;margin-left:5%;margin-bottom:4%}
.caralho{color:#FFF;font-size:1.6em}

/* Perfil Aluno Editável - OK */

#bg_aluno{display:flex;background-image:url(../images/Perfil_Aluno3_1199.jpg);background-repeat:no-repeat;padding:3%;height:565px}
#nome_E{background-color:rgba(14, 120, 106, 0.4);width:100%;height:370px;display:flex;flex-direction:column;height:450px}
#nome_E h1{color:#FFF;align-self:center;margin:10px 0;font-size:3em}
#nome_E img{border-radius:50%;width:250px;height:250px;align-self:flex-end;margin-right:10px}
#ed{align-self:flex-end;margin-right:50px;display:block;border-bottom:5px solid #FFF;border-right:5px solid #FFF;width:20px;height:20px;
	transform:rotate(45deg)}
#nome_E ul{margin:-125px 0 0 10px}
#nome_E ul li{color:#FFF;padding-bottom:7%;margin-top:-5%;font-size:1.6em}
#nome_E ul li:nth-child(4){padding-bottom:0}
#nome_E a:nth-child(5){align-self:flex-end;margin:30px 10px 0 0;color:#FFF;text-decoration:none;margin-top:-2%;font-size:1.3em;margin-top:2%} 
#nome_E a:nth-child(6){align-self:flex-end;margin:10px 10px 0 0;color:#FFF;text-decoration:none;font-size:1.3em}
#bg_status_E{background-image:url(../images/Perfil_Aluno6_1199.jpg);background-repeat:no-repeat;padding-top:3%;height:482px}
#status_E{background-color:rgba(14, 120, 106, 0.5);padding:5%;margin:0 3% 3% 3%;display:flex;flex-direction:column;margin-bottom:7%} 
#status_E h1{text-align:center;color:#FFF;align-self:center;font-size:3em;margin-top:-4%}
#ed_2{align-self:flex-end;margin:-25px 25% 0 0;display:block;border-bottom:5px solid #FFF;border-right:5px solid #FFF;width:10px;height:10px;
	transform:rotate(-45deg)}
#status_E textarea{width:95%;margin-top:20px;padding:2%;height:118px;font-size:1.3rem}
#status_E input{margin-bottom:10px}
#status_E input:nth-child(3){margin-top:41px}
#status_E .a{text-decoration:none;align-self:flex-end;margin-top:10px;color:#FFF;font-size:1.5em}

/* Edição - OK  */

#nome_E2{background-color:rgba(14, 120, 106, 0.4);width:100%;height:500px;display:flex;flex-direction:column}
#nome_E2 h1{color:#FFF;align-self:center;margin:10px 0;font-size:3rem}
#nome_E2 img{border-radius:50%;width:140px;height:140px;align-self:flex-end;margin-right:7%}
#nome_E2 ul{margin:-125px 0 0 10px}
#nome_E2 ul li{color:#FFF;padding-bottom:1%;margin-top:4%}
#nome_E2 ul li:nth-child(4){padding-bottom:0}
#nome_E2 a:nth-child(5){align-self:flex-end;margin:30px 10px 0 0;color:#FFF;text-decoration:none;margin-top:-15%;font-size:1.3rem}
#nome_E2 a:nth-child(6){align-self:flex-end;margin:10px 10px 0 0;color:#FFF;text-decoration:none}
#E{margin:-125px 0 0 2%;display:flex;flex-direction:column}
#E input{margin-bottom:55px;width:50%;border:1px solid white;padding:1% 3%;border-radius:10px} 
#E input:nth-child(4){margin-bottom:20px}

/* Perfil Escola Editável - OK */

#bg_escola{background-image:url(../images/Escola3_1199.jpg);background-repeat:no-repeat;padding:3%;margin:0 auto;text-align:left}
#bg_escola input{border-radius:10px;padding:2%}
#auxi{text-align:center;margin-bottom:2%;}
#escola_E{background-color:rgba(14, 120, 106, 0.5);padding:3%;text-align:center;margin-bottom:-4%;height:200px}
#escola_E textarea{padding:3%;width:95%;height:50px}
#bg_escola a{color:#FFF;font-size:1.1rem}
#bg_cargos{background-color:#ccc;text-align:center;display:flex;flex-direction:column;height:700px}
#bg_cargos a{font-size:1.5rem;margin-bottom:2%; color:#000}
#bg_cargos a:nth-child(5){margin-top:5%;border:2px solid black;width:35px;align-self:center;text-decoration:none}
#bg_cargos h1{color:#FFF;margin-top:2%}
.cargos{display:flex;justify-content:center;margin-top:5%}
.cargos ul{background-color:rgba(23, 125, 115, 0.5);width:450px;height:120px;border-radius:10px;margin-left:-7%;margin-top:-1%}
.cargos input{border-radius:10px;padding:2%;width:75%}
.cargos input:nth-child(1){margin:3% 0 1% 18%}
.cargos img{border-radius:50%;width:150px;height:150px;z-index:1;margin-top:-30px}
#turmas_Esc{text-align:center;margin-bottom:5%}
#turmas_Esc h1{margin:2% 180px} 
#turmas_Esc ul{column-count:3;margin-bottom:2%}
#turmas_Esc a:nth-child(3){margin-top:2%;border:2px solid black;width:25px;text-decoration:none;display:block;margin:3% auto;margin-bottom:7%}
.turma{font-size:1.5em; margin-bottom: 7%}

/* Perfil Escola - OK */   

#bg_escola h1{color:#FFF;text-align:center;margin-bottom:-5%}
#escola{background-color:rgba(14, 120, 106, 0.5);padding:3%;text-align:center;margin-bottom:6%;margin-top:1%}
.cargos_2{display:flex;justify-content:center;margin:5% 0}
.cargos_2:nth-child(2), .cargos_2:nth-child(3){margin-top:0}
.cargos_2 ul li{color:#FFF;margin:18px 0 0 -30%;font-size:1.8rem}
.cargos_2 ul{background-color:rgba(23, 125, 115, 0.5);width:450px;height:120px;border-radius:10px;margin-left:-8%;margin-top:2%}
.cargos_2 img{border-radius:50%;width:150px;height:150px;z-index:1;margin-top:6px}
.texto_e{margin-top: 4%;color:#FFF;font-size:1.3rem}

/* Perfil Turma Editável - OK */

#bg_turma{background-image:url(../images/Perfil_Turma2_1199.jpg);background-repeat:no-repeat;padding:2%;text-align:right;font-size:1.5rem}
#bg_oscar{background-image:url(../images/Perfil_Turma4_1199.jpg);background-repeat:no-repeat;padding:2%;text-align:right;margin-bottom:3%;height:574px}
#turma2{background-color:rgba(14, 120, 106, 0.5);padding:5%;text-align:center;margin-bottom:-3%}
#turma2 ul{column-count:4}
#turma h1{margin-bottom:2%;margin-left:30%}
#turma2 ul li, #turma2 h1{color:#FFF;padding:2%}
#turma2 ul li{padding-bottom:10%}
#turma2 ul li a, #bg_turma a{text-decoration:none;color:#FFF}
#fotos2{display:flex;text-align:center;justify-content:center;padding:4%;background-color:#DDD}
#fotos2 img{width:400px;height:400px;border:3px solid #0E786A;padding:2%}
#fotos2 a{display:block;width:30px;height:30px;align-self:center;margin:0 3%;border-top:3px solid #0E786A;color:#000;font-size:1.5em} 
#fotos2 a:nth-child(1){border-left:3px solid #0E786A;transform:rotate(-47deg);margin-left:7%}
#fotos2 a:nth-child(3){border-right:3px solid #0E786A;transform:rotate(47deg)}
#fotos2 a:nth-child(4){border:0px;margin-right:-10%;text-decoration:none}
#oscar{background-color:rgba(14, 120, 106, 0.5);padding:2.3%;text-align:center;display:flex;justify-content:center;flex-wrap:wrap;
	flex-direction:column;margin-bottom:-3%} 
#oscar h1{color:#FFF;width:100%;}
#oscar img:nth-child(odd){border-radius:50%;width:130px;height:130px;margin-top:1%}
#oscar img:nth-child(even){width:40px;height:75px;margin-bottom:1%}
#oscar img:nth-child(2){margin-bottom:2%}
.eita{text-decoration: none;color:#FFF;margin-right:5%;font-size:1.5rem}    

/* Quem somos - OK */

#container_QS ul li{font-size:1.4rem}
#container_QS img{height:160px;width:160px;align-self:center}
.auxiliar{margin-right:4%}
.auxiliar2{margin-left:3%}
.auxiliar, .auxiliar2{text-align:center}
.auxiliar ul li, .auxiliar2 ul li{color:#FFF;padding-top:2%}
#gordao h1, #gordao img, #arthur h1, #arthur img, #emily h1, #emily img, #leo img{margin-right:3%}
#augusto h1, #augusto img, #sid h1, #sid img, #marques h1, #marques img, #leo h1, #leo img{margin-left:3%}
#augusto, #gordao, #arthur, #sid, #marques, #emily, #leo{height:210px;width:100%}
#augusto h1, #gordao h1, #sid h1, #marques h1, #emily h1, #leo h1, #arthur h1{color:#FFF}
#augusto{background-color:#404040}
#gordao{background-color:#000}
#marques{background-color:#FFF}
#arthur{background-color:#092140}
#emily{background-color:#1E90FF}
#sid{background-color:#F7931D}
#leo{background-color:#9E1E62} 
#leo{margin-bottom:4%}
#augusto, #gordao, #marques, #arthur, #sid, #emily, #leo{display:flex;padding:2% 0;justify-content:space-around}
#augusto h1, #gordao h1, #marques h1, #arthur h1, #sid h1, #emily h1, #leo h1{width:100%;font-size:2.3rem}
#augusto img, #marques img, #sid img, #leo img{border:2px solid black}
#augusto img, #gordao img, #marques img, #arthur img, #sid img, #emily img, #leo img{border-radius:50%}
#marques h1, #marques ul li{color:#000}
#gordao, #arthur, #emily{flex-direction:row-reverse}
#gordao h1, #augusto h1, #arthur h1, #leo h1{text-shadow:2px 2px rgba(555, 555, 555, 0.4)}
#marques h1, #sid h1, #emily h1{text-shadow:2px 2px rgba(000, 000, 000, 0.4)}
#gordao img, #emily img, #arthur img{border:2px solid white}

/* Esqueceu sua senha - OK */

#bg_att{background-image:url(../images/esq_att_1440.jpg);background-repeat:no-repeat;padding:5% 0}
#att{display:flex;background-color:rgba(100,100,100,0.6);border:2px solid white;border-radius:10px;width:65%;align-items:center;margin:0 auto;flex-direction:column;
     text-align:center;padding:3%;height:430px;margin-bottom:3%}
#att h1{color:#FFF;text-shadow:2px 2px black;margin:40px 0 30px 0}
#att input{width:65%;height:35px;text-align:center;border-radius:10px}
#att input:nth-child(2){margin-bottom:30px;font-size:1rem}
#att input:nth-child(3){width:15%}
#divTeste{color:#FFF}
#divTeste, #att input{margin-top:5%;font-size:1rem}

/* Atualize sua senha - OK */

#bg_att2{background-image:url(../images/esq_att_1440.jpg);background-repeat:no-repeat;padding:5% 0}
#att2{display:flex;background-color:rgba(100,100,100,0.6);border-radius:10px;border:2px solid white;width:65%;align-items:center;margin:0 auto;flex-direction:column;
     text-align:center;padding:1%;height:430px;margin-bottom:3%}
#att2 h1{color:#FFF;text-shadow:2px 2px black;margin:40px 0 30px 0}
#att2 input{width:65%;height:65px;text-align:center;border-radius:10px}
#att2 input:nth-child(3){margin-bottom:30px}
#att2 input:nth-child(4){width:15%}
#divTeste{color:#FFF}
#divTeste, #att2 input{margin-top:5%}
#divTeste a{color:#FFF;font-size:1.2rem}     


/* 
Limpar o código;
Juntar as mesmas características depois;
Ver o footer na página de cadastro;
*/


/*
.beard{margin-left:1%;width:150px;height:50px}
footer img{width:70px;height:70px;padding-right:10px}
footer ul li{display:inline;list-style:none;padding-right:10px;}
footer ul li a{text-decoration:none;color:#000}
footer ul li a span{position:relative;top:-20px}
footer ul li a:hover{text-decoration:underline}
*/